.corpo-depoimentos {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 24px;
}

.depoimento p {
  font-size: 1rem;
  font-weight: var(--peso-fonte-regular);
  line-height: 28px;
}

.depoimento-pessoa img {
  width: 86px;
  height: 86px;
}

.depoimento-pessoa {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.depoimento-pessoa-identificacao h3 {
  font-size: 1.25rem;
  font-weight: var(--peso-fonte-bold);
  margin: 0;
}

.depoimento-pessoa-identificacao span {
  display: inline-block;
  font-size: 2rem;
  color: var(--cor-vermelho);
}

@media screen and (min-width: 768px) {
  .corpo-depoimentos {
    margin: 0 60px;
  }
}

@media screen and (min-width: 1440px) {
  .corpo-depoimentos {
    flex-direction: row;
    justify-content: center;
    margin: 0;
    gap: 24px;
  }

  .depoimento {
    width: 384px;
  }
}
