.corpo-destino {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.destino {
  margin: 0 24px 40px 24px;
  text-align: start;
}

.destino img {
  width: 312px;
  height: 360px;
  margin-bottom: 24px;
}

.destino h3 {
  font-size: 1.75rem;
  font-weight: var(--peso-fonte-bold);
  margin: 0;
  margin-bottom: 24px;
}

.destino p {
  font-size: 1.25rem;
  font-weight: var(--peso-fonte-regular);
  line-height: 32px;
  margin-bottom: 24px;
}

.destino .botao {
  width: 312px;
  height: 64px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .destino {
    margin: 0 60px 40px 60px;
    text-align: start;
  }

  .destino {
    width: 684px;
  }

  .destino img {
    width: 684px;
    height: 452px;
  }

  .destino .botao {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .destino {
    margin: 0 60px 40px 60px;
  }
}

@media screen and (min-width: 1024px) {
  .destino {
    margin: 0 180px 40px 180px;
  }
}

@media screen and (min-width: 1044px) {
  .corpo-destino {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .destino {
    width: 588px;
    margin: 0;
  }

  .destino img {
    width: 588px;
    height: 452px;
  }
}
