/* DECLARANDO FONTE */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/* CRIANDO VARIAVEIS PARA USO NO CSS */
:root {
  --cor-bordo: #8f0101;
  --cor-vermelho: #b81515;
  --cor-preto: #000000;
  --cor-grafite: #222222;
  --cor-cinza-escuro: #8c8c8c;
  --cor-cinza-medio: #d9d9d9;
  --cor-cinza-claro: #f5f5f5;
  --cor-branco: #ffffff;

  --fonte-monteserrat: "Montserrat", sans-serif;

  --peso-fonte-regular: 400;
  --peso-fonte-medium: 500;
  --peso-fonte-bold: 700;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-monteserrat);
}

section {
  margin-bottom: 88px;
}

@media screen and (min-width: 1440px) {
  section {
    margin-bottom: 104px;
  }
}
