.cabecalho {
  background-color: var(--cor-preto);
  width: 100%;
  height: 138px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.cabecalho-logo {
  display: inline-block;
  width: 68px;
  height: 64px;
  margin-left: 48px;
}

.menu-hamburguer {
  margin-right: 48px;
}

.cabecalho-itens-navegacao {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}
